
{% extends "base.html" %}
{% block title %}A-Frame{% endblock %}

{% block breadcrumb %}
<li><a href="/input_forms/">Network Automations</a></li>
<li>Edit Input Form</li>
{% endblock %}

{% block pageheader %}
<span class="fa fa-xlg fa-fw fa-sliders"; style="font-size: xx-large;"></span>
    Automations
<span>>  
    Edit Input Form
</span>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

    var tags = [];
    var j;

    var widgets = $.parseJSON('{{ widgets_json|safe }}');

    function submit_form() {
        var json = $("#json");
        var template__variable__configs = $("#tag_configurator");

        var name = $("#name").val();
        var description = $("#description").val();

        if (name == "" || description == "") {
            alert("You must provide a valid name and description");
            $("#name").focus();
            return false;
        }

        template__variable__configs.find('[id ^= "template__variable__"]').each(
            function(a,r) {
                var row = $("#" + r.id);
                var name_label = row.find('[name $= "_label"]');
                console.log(name_label);
                var name = name_label.attr("id").replace("_label", "");
                var label = name_label.val();

                var default_value = row.find('[id $= "_default"]').val();

                // now use the 'ends with' selector to get the widget_config value form element and value
                var widget = row.find('[id $= "_widget"]').val();

                // now use the 'ends with' selector to get the widget_config value form element and value
                var widget_config = row.find('[id $= "_widget_config"]').val();

                // verify we have something to work with
                if (widget_config == "") {
                    widget_config = "{}";
                }

                // widget_config is a JSON string stored on the DOM
                // convert it back to a data structure here before serializing the whole thing back to a string
                // FIXME - should this be surrounded with try/catch?
                var widget_config_object = JSON.parse(widget_config);

                // let's log it here for the dev again
                console.log("name is: " + name);
                console.log("default is: " + default_value);
                console.log("label is: " + label);

                // construct a simple object and add to the 'template_variables' array
                t = {
                        "name" : name,
                        "label" : label,
                        "default": default_value,
                        "widget": widget,
                        "widget_config": widget_config_object
                };
                tags.push(t);
            }
        );
        var json_text = JSON.stringify(tags, null, 2);

        $("#json").val(json_text);
        console.log(json_text);
        $("#update_form").submit();
    }

    function get_tag_config(tag_name) {
        for(i=0; i<j.length; i++) {
            var tag = j[i];
            if (tag["name"] == tag_name) {
                return tag;
            }
        }
        console.log("COULD NOT FIND TAG WITH NAME: " + tag_name);
        return null;
    }

    $(window).load(function() {

        var json_data = $("#json_data").val();
        j = eval(json_data);
        console.log("got json tag configs");
        console.log(j);

        if(j.length == 0) {
            console.log("no json data available, bailing out!");
            return;
        }

        var template__variable__configs = $("#tag_configurator");
        template__variable__configs.find('[id ^= "template__variable__"]').each(
            function(a,r) {
                var row = $("#" + r.id);
                var name_label = row.find('[name $= "_label"]');
                var name = name_label.attr("id").replace("_label", "");
                t_config = get_tag_config(name);
                if (t_config == null) {
                    // jquery .each doesn't have a continue statement
                    // so return true instead
                    return true;
                }
                name_label.val(t_config["label"]);

                var default_value = row.find('[id $= "_default"]');
                default_value.val(t_config["default"]);

                var widget = row.find('[id $= "_widget"]');
                var widget_config = row.find('[id $= "_widget_config"]');

                if(t_config.hasOwnProperty("widget")) {
                    widget.val(t_config["widget"]);


                    var widget_config_string = JSON.stringify(t_config["widget_config"], null, 0);

                    widget_config.val(widget_config_string);

                    console.log(t_config["widget_config"]);
                    if (t_config["widget_config"] != "{}") {
                        var widget_config_button = row.find('[id $= "_widget_config_button"]');
                        widget_config_button.css("display", "");
                    }
                } else {
                    widget.val("text_input");
                    widget_config.val("{}");
                }
            }
        );
    });
</script>
{% endblock%}



{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="well" style="width:80%;margin:auto;">

			<form method="POST" class="smart-form" action="/input_forms/update" id="update_form">
			
				<header>
					Edit Input Form 
				</header>
			
				<fieldset>
					<section>
						<label class="label">Name</label>
						<label class="input"> <i class="icon-prepend fa fa-edit"></i>
							<input type="text" name="name" id="name" value="{{ input_form.name }}" onblur="return clean_string_no_special(this);">
						</label>
					</section>
			
					<section>
						<label class="label">Description</label>
						<label class="input"> <i class="icon-prepend fa fa-edit"></i>
							<input type="text" name="description" id="description"  value="{{ input_form.description }}">
						</label>
					</section>
			
			
					<section>
						<label class="label">Instructions</label>
						<label class="textarea">
							<textarea rows="4" name="instructions" id="instructions">{{ input_form.instructions }}</textarea>
						</label>
					</section> 
			
			
					<section>
						<label class="label">Template</label>
						&nbsp;&nbsp;&nbsp;&nbsp;<a style="font-size:22px;text-decoration:underline;" href="/tools/{{ config_template.id }}">{{ config_template.name }}</a>
					</section>
			
					<section>
						<label class="label">Available Tags:</label>
			
					
								
						<div class="table-responsive">
							<table class="table table-bordered" id="tag_configurator"> <!-- this id breaks the config buttons -->
								<thead>
									<tr>
										<th style="width:170px;max-width:170px;">Variable</th>
										<th style="width:170px;max-width:170px;">Label</th>
										<th style="width:200px;max-width:200px;">Default Value</th>
										<th>UI Widget</th>
									</tr>
								</thead>
								<tbody>
									{% for t in available_tags %}
									<tr id="template__variable__{{ forloop.counter }}">
										<td>
											{{t}}
										</td>
										<td>
											<label class="input">
												<input type="text" id="{{ t }}_label" name="{{ t }}_label" value="{{ t }}">
											</label>
										</td>
										<td>
											<label class="input">
												<input type="text" id="{{ t }}_default" name="{{ t }}_default" value="none">
											</label>
										</td>
										<td>
											<label style="float:left;" class="select">
												<select name="{{ t }}_widget" id="{{ t }}_widget"
													onchange="javascript: load_widget_configs('{{ t }}_widget')">
													{% for w in widgets %}
													<option value="{{ w.id }}">{{ w.label }}</option>
													{% endfor %}
												</select><i></i>
											</label>
											<input type="hidden" name="{{ t }}_widget_config" id="{{ t }}_widget_config" value=""/>
											<a class="btn btn-lg btn-info" id="{{ t }}_widget_config_button" href="javascript: load_widget_configs('{{ t }}_widget');" style="padding:5px;display: none;float:right;"/>
												<i class="fa fa-gears"></i>
												Configure
											</a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</section>
				</fieldset>
				<footer>
					<input type="hidden" name="json" id="json"/>
					<input type="hidden" name="json_data" id="json_data" value="{{ input_form.json }}"/>
					<input type="hidden" name="config_template_id" value="{{ config_template.id }}"/>
					<input type="hidden" name="input_form_id" value="{{ input_form.id }}"/>
					<button type="button" class="btn btn-success" onclick="submit_form()">
						Save
					</button>
					<button type="button" class="btn btn-danger" onclick="javascript: window.history.back();">
						<i class="fa fa-times"></i>
						Cancel
					</button>
				</footer>
			</form>
		</div>
	</div>
</div>

{% endblock %}




