
{% extends "base.html" %}
{% block title %}A-Frame{% endblock %}
{% block breadcrumb %}
<li><a href="/input_forms/">Network Automations</a></li>
<li>Import Autmation</li>
{% endblock %}
{% block pageheader %}
<i class="fa fa-lg fa-fw fa-sliders"></i> 
	Automations 
<span>>
	Import Automation
</span>
{% endblock %}
{% block scripts %}
<script type="text/javascript">

</script>
{% endblock%}
{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="well" style="width:50%;margin:auto">
			<form class="smart-form" enctype="multipart/form-data" method="POST">{% csrf_token %}
				<header>
					Import Automation
				</header>
				<fieldset>
					<section>
						{{ form }}
					</section>
				</fieldset>
				<footer>
					<button type="submit" class="btn btn-primary">
						Import
					</button>
					<button type="button" class="btn btn-warning" onclick="javascript: window.history.back();">
						<i class="fa fa-arrow-left"></i>
						Go back
					</button>
				</footer>
			</form>
		</div>
	</div>
</div>
{% endblock %}
