
{% extends "base.html" %}
{% block title %}A-Frame{% endblock %}

{% block breadcrumb %}
<li><a href="/input_forms/">Network Automations</a></li>
<li>{{ input_form.name }} Preview</li>
{% endblock %}

{% block pageheader %}
<i class="fa fa-lg fa-fw fa-sliders"></i> 
	Automations 
<span>>  
	{{ input_form.name }} Preview
</span>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

</script>
{% endblock%}
{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="well" style="width:60%;margin:auto;">
			<form method="POST" class="smart-form" action="/input_forms/applyStandalone">
				<header>
					{{ input_form.name }} Preview
				</header>
				<fieldset>
				<section>
					<h3>Description:</h3></br>
					<label class="label" style="font-size:16px;">&nbsp;{{ input_form.description }}</label>
				</section>
				<section>
					<h3>Instructions:</h3></br>
					<label class="label" style="font-size:16px;">&nbsp;{{ input_form.instructions }}</label>
				</section>
				<section>
					<h3>Variables:</h3>
				</section>
				{% include "input_forms/input_form_body.html" %}
				<input type="hidden" name="input_form_id" value="{{ input_form.id }}"/>
				<input type="hidden" name="preview" value="yes_please"/>
				<footer>
					<button type="submit" class="btn btn-primary">
						Preview Template
					</button>
					<button type="button" class="btn btn-warning" onclick="javascript: window.history.back();">
						<i class="fa fa-arrow-left"></i>
						Go back
					</button>
				</footer>
			</form>
			<br/>
			<label class="label">This is a per-endpoint template. To execute this template, first choose an endpoint and select this template.</label>
		</div>
	</div>
</div>
{% endblock %}
