{% extends "input_forms/widgets/widget_overlay.html" %}
{% block overlay %}
<script type="text/javascript">
    console.log('{{ target_id }}');
    var config_element = $('#{{ target_id }}_config');

    if (config_element.val() != "") {
        
        j = JSON.parse(config_element.val());
        $('#numeric_range_lower').val(j.lower);
        $('#numeric_range_higher').val(j.higher);
    }

    function set_numeric_range_config(target_id){

        console.log(target_id);
        var config_element = $('#' + target_id + '_config');

        console.log('#' + target_id + '_config');
        var lower = $('#numeric_range_lower').val();
        var higher = $('#numeric_range_higher').val();

        var widget_config = {
            "lower": lower,
            "higher": higher
        }

        var widget_config_text = JSON.stringify(widget_config, null, 0);
        config_element.val(widget_config_text);
        console.log(widget_config_text);
        console.log('all done');
        close_overlay();
    }

</script>
<table>
    <tr>
        <td colspan="2">
            <!-- Simple Static Image. New images can be added to the common/lib/static/images directory -->

            <label class="label" style="font-size:15px; color:black; padding:0; margin:0;" >Numeric Range Validation. The entered value must be a numeral between lower and higher bounds</label>

        </td>
    </tr>
    <tr>
        <td>
            <label class="label" style="font-size:15px; color:black; padding:0; margin:0;" >Lower:</label>

        </td>
        <td>
            <!-- <input type="text" id="static_image_url" value="/static/images/a-frame-logo.png" title="add images to the common/lib/static/images directory"/> -->

             <input type="text" id="numeric_range_lower" placeholder="0" style="width: 100"/>
        </td>
    </tr>
    </tr>
    <tr>
        <td>
            <label class="label" style="font-size:15px; color:black; padding:0; margin:0;" >Higher:</label>
        </td>
        <td>
             <input type="text" id="numeric_range_higher" placeholder="4096" style="width: 100"/>
        </td>
    </tr>
     <td colspan="2">
<!--             <input type="button" onclick="javascript: set_static_image_config()" value="OK"/>
 -->
            <a href="javascript:void(0);" style="text-decoration: none" onclick="javascript: set_numeric_range_config('{{ target_id }}')" value="OK" class="btn bg-color-blue txt-color-white">OK</a>

        </td>
    </tr>
</table>
{% endblock %}