
{% extends "base.html" %}
{% block title %}A-Frame - New Screen{% endblock %}
{% block scripts %}
<script type="text/javascript">

    var template_variables = [];

    var selected_automations = [];

    var selected_screen_widgets = [];

    function submit_form() {

        let selected_automations_text = JSON.stringify(selected_automations, null, 2);
        $("#input_forms").val(selected_automations_text);
        // submit the form here after we are all done
        let selected_screen_widgets_text = JSON.stringify(selected_screen_widgets, null, 2);
        $("#screen_widgets").val(selected_screen_widgets_text);

        $("#create_form").submit();
    }

    function add_automation() {
        let automation_name = $( "#template_autocomplete" ).val();
        selected_automations.push(automation_name);
        let new_li = $("<li>")
        new_li.append(automation_name);
        $("#selected_automations_ui").append(new_li);

        $( "#template_autocomplete" ).val("");
        $( "#template_autocomplete" ).focus();
    }

    function add_screen_widget() {
        let screen_widget_name = $('#screen_widget_select').val();

        selected_screen_widgets.push(screen_widget_name);
        let new_li = $("<li>")
        new_li.append(screen_widget_name);
        $("#selected_screen_widgets_ui").append(new_li);
    }

    $(window).load(function() {
        $( "#template_autocomplete" ).autocomplete({
            source: "/input_forms/searchAll",
            focus: function(event, ui) {
				event.preventDefault();
		        $("#template_autocomplete").val(ui.item.label);
			},
            select: function (event, ui) {
                $("#template_autocomplete").val(ui.item.label);
                $("#template_autocomplete_id").val(ui.item.value);
                return false;
            }
        });
    });


</script>
{% endblock%}
{% block content %}


<div class="row">
    <div class="col-sm-12">
        <div class="well" style="width:85%;margin:auto">
            <form method="post" enctype="multipart/form-data" action="/screens/create" id="create_form"  class="smart-form">
<!-- <form method="POST" action="/screens/create" id="create_form">

 -->
    <h2>Create a New Screen</h2>

    <fieldset>
            <section>
                <label class="input" style="color:black; font-size:large; margin:auto; padding:auto;">Name: </label><br>
                    <input type="text" style="font-size: medium; width: 100%" name="name"  placeholder="Name of this screen view"></label> &nbsp;
               
            </section><br>

            <section>
                <label class="input" style="color:black; font-size:large; margin:auto; padding:auto;">Theme: </label><br>
                    <select name="theme" id="theme">
                    {% for theme in themes %}
                    <<option value="{{ theme.base_template }}" style="font-size: large; size: large">{{ theme.label }}</option>
                    {% endfor %}
                </select>
               
            </section><br>
     <table>

        <section>
            <label class="input" style="color:black; font-size:large; margin:auto; padding:auto;"> Description: </label><br>
                    <textarea rows="5" cols="60" style="font-size: medium; width: 100%" name="description" id="description" placeholder=" Description"></textarea>
        </section><br>

        <section>
                <label class="input" style="color:black; font-size:large; margin:auto; padding:auto;">Add Automation Input Form: </label><br>
                    <input type="text" style="font-size: medium; width: 100%" name="name"  id="template_autocomplete"  placeholder="Search Input Form Definitions"></label><br><br>
                   
                    <input type="button" onclick="javascript: add_automation()" value="Add" style="background-color: rgb(94, 158, 214); color:#f6f6f6;" />
               
        </section><br>
        <section>
                <label class="input" style="color:black; font-size:large; margin:auto; padding:auto;">Added Automations: </label>
                    <input type="hidden" name="input_forms" id="input_forms" value="">
                <ul id="selected_automations_ui">

                </ul>
               
        </section><br>

        <section>
                <label class="input" style="color:black; font-size:large; margin:auto; padding:auto;">Add Screen Widget: </label><br>
                    <select id="screen_widget_select" name="screen_widget_add">
                    {% for w in widgets %}
                    <option value="{{ w.id }}" style="font-size: large">{{ w.label }}</option>
                    {% endfor %}
                    </select><br><br>
                    <input type="button" onclick="javascript: add_screen_widget()" value="Add" style="background-color: rgb(94, 158, 214); color:#f6f6f6;" />
               
        </section><br>


            <label class="input" style="color:black; font-size:large; margin:auto; padding:auto;">Added Screen Widgets: </label><br>
                    <!-- <select id="screen_widget_select" name="screen_widget_add">
                    {% for w in widgets %}
                    <option value="{{ w.id }}" style="font-size: large">{{ w.label }}</option>
                    {% endfor %}
                    </select>
                    <input type="button" onclick="javascript: add_screen_widget()" value="Add" style="background-color: rgb(94, 158, 214); color:#f6f6f6;" /> -->
               <input type="hidden" name="screen_widgets" id="screen_widgets" value="">
                <ul id="selected_screen_widgets_ui">

                </ul>
            
                <input type="button" onclick="submit_form()" value="Save" style="background-color: rgb(94, 158, 214); color:#f6f6f6;" /></table>
            </fieldset>
        </form>
    </div>
</div>
</div>

</div>
</div>
</div>

{% endblock %}
