{% extends "base.html" %}
{% block title %}A-Frame - New Screen{% endblock %}
{% block breadcrumb %}
<li><a href="/screens/">Screens</a></li>
<li>New Screen</li>
{% endblock %}

{% block pageheader %}
<span class="fa fa-xlg fa-fw fa-desktop"; style="font-size: xx-large;"></span>
	Screens 
<span>>  
	New Screen
</span>
{% endblock %}
{% block scripts %}
<script type="text/javascript">

	var template_variables = [];

	var selected_automations = [];

	var selected_screen_widgets = [];

	function submit_form() {

		let selected_automations_text = JSON.stringify(selected_automations, null, 2);
		$("#input_forms").val(selected_automations_text);
		// submit the form here after we are all done
		let selected_screen_widgets_text = JSON.stringify(selected_screen_widgets, null, 2);
		$("#screen_widgets").val(selected_screen_widgets_text);

		$("#create_form").submit();
	}

    function add_automation() {
        let ta = $("#template_autocomplete");
        let automation_name = ta.val();

        selected_automations.push(automation_name);
        let new_li = $("<li>")
        new_li.append(automation_name);
        $("#selected_automations_ui").append(new_li);

        ta.val("");
        ta.focus();
    }

    function add_screen_widget() {
        let screen_widget_name = $('#screen_widget_select').val();
        if (screen_widget_name === 'none') {
            return;
        }
        selected_screen_widgets.push(screen_widget_name);
        let new_li = $("<li>")
        new_li.append(screen_widget_name);
        $("#selected_screen_widgets_ui").append(new_li);
        $('#screen_widget_select').val('none');
    }

	$(window).load(function() {
		$( "#template_autocomplete" ).autocomplete({
			source: "/input_forms/searchAll",
			focus: function(event, ui) {
				event.preventDefault();
				$("#template_autocomplete").val(ui.item.label);
			},
            select: function (event, ui) {
                $("#template_autocomplete").val(ui.item.label);
                $("#template_autocomplete_id").val(ui.item.value);
                add_automation();
                return false;
            }
        });
    });


</script>
{% endblock%}
{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="well" style="width:55%;margin:auto">
			<form method="post" action="/screens/create" id="create_form"  class="smart-form">
				<header>
					Create a New Screen
				</header>
				<fieldset>
					<section>
						<label class="label">Name</label>
						<label class="input">
							<input type="text" name="name" placeholder="Name of This Screen View"  onblur="return clean_string_no_special(this);">
						</label>
					</section>
					<section>
						<label class="label">Tag</label>
						<label class="input">
							<input type="text" name="tag" id="tag" placeholder="Tag Metadata" onblur="return clean_string_no_special(this);"/>
						</label>
					</section>
					<section style="width:40%;">
						<label class="label">Theme</label>
						<label class="select">
							<select name="theme" id="theme">
								{% for theme in themes %}
								<option value="{{ theme.base_template }}">{{ theme.label }}</option>
								{% endfor %}
							</select><i></i>
					   	</label>
					</section>
					<section>
						<label class="label">Description</label>
						<label class="textarea">
								<textarea rows="5" name="description" id="description" placeholder="Description of Screen"></textarea>
						</label>
					</section>
				</fieldset>
				<fieldset>
					<section>
						<label class="label">Add Automation</label>
						<label class="input">
							<input type="text" id="template_autocomplete" placeholder="Choose Automation">
						</label><br>
						<button type="button" class="btn btn-primary" style="padding:6px 12px" onclick="javascript: add_automation()">
							<i class="fa fa-plus"></i>
							Add
						</button>
					</section>
					<section>
						<label class="label">Added Automations:</label>
						<input type="hidden" name="input_forms" id="input_forms" value="">
						<ul style="padding-left:20px;font-size:13px;" id="selected_automations_ui">

						</ul>
					</section>
				</fieldset>
				<fieldset>
					<section style="width:40%">
						<label class="label">Add Screen Widget</label>
						<label class="select">
							<select id="screen_widget_select" name="screen_widget_add">
								{% for w in widgets %}
								<option value="{{ w.id }}">{{ w.label }}</option>
								{% endfor %}
							</select><i></i>
						</label><br>
						<button type="button" class="btn btn-primary" style="padding:6px 12px;" onclick="javascript: add_screen_widget()">
							<i class="fa fa-plus"></i>
							Add
						</button>
					</section>
					<section>
						<label class="label">Added Screen Widgets:</label>
						<input type="hidden" name="screen_widgets" id="screen_widgets" value="">
							<ul style="padding-left:20px;font-size:13px;" id="selected_screen_widgets_ui">

							</ul>
					</section>
				</fieldset>
				<footer>
					<button type="button" class="btn btn-success" onclick="submit_form()">
						<i class="fa fa-save"></i>
						 Save
					</button>
					<button type="button" class="btn btn-danger" onclick="javascript: window.history.back();">
						<i class="fa fa-times"></i>
						Cancel
					</button>
				</footer>
			</form>
		</div>
	</div>
</div>
{% endblock %}
