
{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
<li><a href="/endpoints/">Endpoints</a></li>
<li>Details</li>
{% endblock %}

{% block pageheader %}
<i class="fa fa-lg fa-fw fa-database"></i> 
	Endpoints 
<span>>  
	Details
</span>
{% endblock %}
{% block title %}A-Frame{% endblock %}

{% block scripts %}
<script type="text/javascript">

$(window).load(function() {
	$( "#template_autocomplete" ).autocomplete({
		source: "/input_forms/search",
		focus: function(event, ui) {
			event.preventDefault();
			$("#template_autocomplete").val(ui.item.label);
		},
		select: function (event, ui) {
			$("#template_autocomplete").val(ui.item.label);
			return false;
		}
	});
});


</script>

{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="well" style="width:60%;margin:auto;">
			<form method="POST" class="smart-form" action="/input_forms/configureTemplate">
				<header>
					Endpoint Details
				</header>
				<fieldset>
					<section>
						<div class="table-responsive" style="width:80%;margin:auto">
							<table class="table table-bordered">
								<tbody>
									<tr>
										<td>
											Endpoint ID:
										</td>
										<td>
											{{ endpoint.id }}
										</td>
									</tr>
									<tr>
										<td>
											Endpoint Name:
										</td>
										<td>
											{{ endpoint.name }}
										</td>
									</tr>
									<tr>
										<td>
											IP Address:
										</td>
										<td>
											{{ endpoint.ip }}
										</td>
									</tr>
									<tr>
										<td>
											Endpoint Type:
										</td>
										<td>
											{{ endpoint.type }}
										</td>
									</tr>
									<tr>
										<td>
											Username:
										</td>
										<td>
											{{ endpoint.username }}
										</td>
									</tr>
									<tr>
										<td>
											Password:
										</td>
										<td>
											{{ endpoint.password }}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>
				</fieldset>
				<fieldset>
					<section>
						<h3 align="center">Apply Template:</h3></br>
						<input type="hidden" name="group_id" value="{{ group_id }}">
						<input type="hidden" name="endpoint_id" value="{{ endpoint.id}}">
						<label class="input" style="width:60%;margin:auto;"> <i class="icon-prepend fa fa-search"></i>
							<input type="text" name="input_form_name" id="template_autocomplete" placeholder="search Input Form Definitions">
						</label>
					</section>
				</fieldset>
				<footer>
					<button type="submit" class="btn btn-sm btn-success btn-next" data-last="Finish">
						Submit
					<i class="fa fa-arrow-right"></i></button>

					<button type="button" class="btn btn-sm btn-warning btn-back" onclick="javascript: window.history.back()">
						<i class="fa fa-arrow-left"></i>
						Back
					</button>
				</footer>
			</form>
		</div>
	</div>
</div>
{% endblock %}
