
{% extends "base.html" %}

{% block title %}A-Frame{% endblock %}

{% block breadcrumb %}
<li><a href="/endpoints/">Endpoints</a></li>
<li>Index</li>
{% endblock %}

{% block pageheader %}
<i class="fa fa-lg fa-fw fa-database"></i> 
	Endpoints 
<span>>  
	Index
</span>
{% endblock %}

{% block content %}

<!--<h2>Endpoints</h2>-->
<table>
    <th colspan="3">Endpoint Groups</th>
    {% for provider in provider_list %}
    <tr>
        <td>
            <a href="/endpoints/list/{{ provider.id }}">{{ provider.name }}</a>
        </td>
        <td>
            {{ provider.description }}
        </td>
        <td>
            <a href="/endpoints/deleteGroup/{{ provider.id }}">Delete</a>
            &nbsp;
            <a href="/endpoints/editGroup/{{ provider.id }}">Edit</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a style="font-size: 15px;" href="/endpoints/newGroup">Create new Endpoint Group</a>


{% endblock %}
