
{% extends "base.html" %}

{% block title %}A-Frame{% endblock %}

{% block breadcrumb %}
<li><a href="/endpoints/">Endpoints</a></li>
<li>Groups</li>
{% endblock %}

{% block pageheader %}
<i class="fa fa-lg fa-fw fa-database"></i> 
	Endpoints 
<span>>  
	All Groups
</span>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="well">
			
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<!--
						<tr>
							<th colspan="3">Endpoint Groups</th>
						</tr>
						-->
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						{% for provider in provider_list %}
						<tr>
							<td>
								<a href="/endpoints/list/{{ provider.id }}">{{ provider.name }}</a>
							</td>
							<td>
								{{ provider.description }}
							</td>
							<td width="146px">
			            				<a href="/endpoints/editGroup/{{ provider.id }}" style="text-decoration:none;" class="btn btn-xs btn-info"><i class="fa fa-edit"></i> Edit</a>
			            				&nbsp;
								<a href="/endpoints/deleteGroup/{{ provider.id }}" style="text-decoration:none;" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
							</td>
						</tr>
			    			{% endfor %}
					</tbody>
				</table>
			</div>

			<a class="btn btn-primary" style="text-decoration:none;" href="/endpoints/newGroup/"><i class="fa fa-sitemap"></i> Create new Endpoint Group</a>
		</div>

		
	</div>
</div>

{% endblock %}
