
{% extends "base.html" %}
{% block title %}A-Frame{% endblock %}
{% block breadcrumb %}
<li><a href="/endpoints/">Endpoints</a></li>
<li>New Group</li>
{% endblock %}
{% block pageheader %}
<i class="fa fa-lg fa-fw fa-database"></i> 
	Endpoints 
<span>>
	New Group
</span>
{% endblock %}
{% block content %}

<div class="row">
	<div class="col-sm-12">
		<div class="well">
			<form action="/endpoints/configureGroup/" method="POST" id="smart-form-register" class="smart-form">
				<header style="font-size:23px;">
					New Endpoint Group - Step 1 of 2
				</header>
			
				<fieldset>
					<section>
						<label class="input"> <i class="icon-append fa fa-edit"></i>
							<input type="text" name="name" placeholder="Group Name">
							<b class="tooltip tooltip-bottom-right">Name of new endpoint group</b> </label>
					</section>
			
					<section>
						<label class="input"> <i class="icon-append fa fa-info"></i>
							<input type="text" name="description" placeholder="Group Description">
							<b class="tooltip tooltip-bottom-right">Description of group</b> </label>
					</section>
				</fieldset>
			
				<fieldset>
					<section>
						<label class="select">
               						<select name="provider_class">
								<option value="0" selected="" disabled="">Endpoint Provider</option>
               							{% for provider in provider_list %}
               								<option value="{{ provider.class }}">{{ provider.name }}</option>
               							{% endfor %}
               						</select> <i></i>
						</label>
					</section>
				</fieldset>
				<footer>
					<button type="submit" class="btn btn-sm btn-success btn-next" data-last="Finish">
						Next
					<i class="fa fa-arrow-right"></i></button>

					<a class="btn btn-sm btn-danger" style="text-decoration:none;" href="/endpoints/"><i class="fa fa-remove"></i> Cancel</a>
				</footer>
			</form>
		</div>
	</div>
</div>
{% endblock %}
