
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}A-Frame - New Template{% endblock %}
{% block breadcrumb %}

<i class="fa fa-lg fa-fw fa-database"></i> 
    Automations 
<span>>
    New Automation
</span>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
    function validateForm() {
        return true;
    }
    $(window).load(function() {
        $( "#template_autocomplete" ).autocomplete({
            source: "/tools/search",
        });
    });

    </script>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="well" style="width:85%;margin:auto">

            <form method="post" enctype="multipart/form-data" onsubmit="javascript: return validateForm();"  action="/tools/create/"  id="smart-form-register"  class="smart-form">
                 <h2>New Template - Step 3 of 3</h2>

        <fieldset>
                    <section>
                        <label class="input" style="color:black; font-size:large; margin:auto; padding:auto;">Action Provider: </label><br>
                            <td>
                                <font size="2" color="grey">{{action_provider}}</font>
                            </td>
                    </section><br>

                    <section>
                        {% for option in options.values %}
                        <label class="input" style="color:black; font-size:large; margin:auto; padding:auto;">Request Type: </label><br>
                            <td>
                                 <font size="2" color="grey">{{option.value}}</font>
                            </td>

                            {% endfor %}
                    </section><br>

                    <section>
                        <label class="input" style="color:black; font-size:large; margin:auto; padding:auto;">Template Name:</label><br>
                           <input type="text" style="font-size: medium; width:100%"; name="nameTemplate" placeholder="New Template Name"></label> 

                    </section><br>


                    <section>
                        <label class="input" style="color:black; font-size:large; margin:auto; padding:auto;">Description:</label><br>
                           <textarea cols="65" rows="5" style="font-size:medium; width:100%"; name="description" placeholder="A brief description of this template"></textarea>
                    </section><br>            

                    <section>
                        <label class="input" style="color:black; font-size:large; margin:auto; padding:auto;">Template Type:</label><br>
                            <select name="type">
                                <option value="standalone" style = "font-size: medium;" selected="selected">Standalone</option> &nbsp;
                                <option value="per-endpoint">Per-Endpoint</option>&nbsp;
                            </select>
                    </section><br>


                    <section>
                        <label class="input" style="color:black; font-size:large; margin:auto; padding:auto;">Template:</label><br>
                           <textarea
                        name="template" cols="65" rows="18" style="font-size:large; width:100%"
                        placeholder="The template text to be used. Use the {% templatetag openvariable %} format {% templatetag closevariable %} to
introduce variables, in this case a variable named 'format' will be available to your forms.
Variable names must not include special characters!"></textarea>
                    </section><br>  



        <section>
            <label class="input" style="color:black; font-size:large; margin:auto; padding:auto width: 100%;">Embed Template:</label><br>
             <input type="text" style="font-size: medium; width: 100%" name="name" id="template_autocomplete" placeholder="Search Template Definitions"></label> &nbsp;
               
        </section><br>

        <section>
            <input type="button" style="font-size: small;" onclick="javascript: embed_template()" value="View API"/></label> <br><br> &nbsp;
        </section>

        <section>
            <input type="hidden" name="action_provider" value="{{ action_provider }}"/>
            <input type="submit" style ="font-size: medium" value="Create"/>
        </section> 
    
</form>
</fieldset>
</form>
</div>
</div>
</div>
{% endblock %}
